// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #f15025;
$green: #32B796;
$gray: #191919;
$light-gray: #e6e8e6;
$medium-gray: #ced0ce; //medium-gray
$white: #ffffff;
